<div id="icg-bottom-bar">
  <div class="wolters-kluwer-pathways-logo"></div>
  <div class="pathways-bottom-bar-links-container">
    <div class="icg-bottom-info">&copy 2017 UpToDate Inc.  All rights reserved</div>
    <div class="pathways-bottom-links">
      <div class="icg-bottom-link" ng-click="showPolicy()">Disclaimer</div>
      <div class="icg-bottom-link" >Support Info</div>
      <div class="icg-bottom-link" >Editorial Policy</div>
      <div class="icg-bottom-link" >Send Feedback</div>
    </div>
  </div>
</div>