<div class="icg-question-box">
	<div class="icg-question-topbar">
		<div class="icg-question-close-btn" ng-click="quesCtrl.closeQues()">
		</div>
	</div>
	<div class="icg-ques-box">
		<div class="icg-main-question">Does the patient have risk factors for antibiotic resistance?
		</div>
		Risk factors include:
		<ul><li>Metronidazole use in the last three months</li><li>Macrolide (eg, clarithromycin, azithromycin, or erythromycin) use in the last three months</li><li>Residence in an area where H. pylori resistance to clarithromycin is ≥15% or where eradication rates with triple therapy are ≤85%</li></ul>

	</div>
</div>