<div id="icg-home-page">
  <top-bar top-title="Contents"
   show-hidden="showHidden"></top-bar>
  <!-- <algor ng-if="showAlgor"></algor> -->
   <div id="icg-main-list-screen">
      Interactive Clinical Guidelines are designed to improve the delivery of care by helping clinicians make appropriate decisions related to specific clinical questions.  Learn more about our <span class="icg-text-link">editorial process</span>.
      <dl>
         <dt>Cardiovascular Medicine</dt>
         <dd><a ui-sref="icg({id:107764})" class="tocItem">Atrial fibrillation: Anticoagulation for adults with nonvalvular atrial fibrillation</a></dd>
         <dt>Endocrinology and Diabetes</dt>
         <dd><a  ui-sref="icg({id:109219,source:'toc'})" class="tocItem">Osteoporosis and osteopenia: Initial management in postmenopausal women</a></dd>
         <dd><a  ui-sref="icg({id:108537,source:'toc'})" class="tocItem">Type 2 diabetes mellitus: Initial therapy for improving glycemic control in adults</a></dd>
         <dd><a  ui-sref="icg({id:112381,source:'toc'})" class="tocItem">Type 2 diabetes mellitus: Management of persistent hyperglycemia in adults treated with metformin monotherapy</a></dd>
         <dt>Cardiovascular Medicine</dt>
         <dt>Gastroenterology and Hepatology</dt>
         <dd><a ui-sref="icg({id:109204, source:'toc'})" class="tocItem">Gastroesophageal reflux disease: Identification of adults who require upper endoscopy</a></dd>
         <dd><a ui-sref="icg({id:108536, source:'toc'})" class="tocItem">Helicobacter pylori: Initial treatment for adults v1</a></dd>
         <dt>Infectious Diseases</dt>
         <dd><a ui-sref="icg({id:109223, source:'toc'})" class="tocItem">Community-acquired pneumonia: Determining the need for hospitalization</a></dd>
         <dd><a ui-sref="icg({id:109220, source:'toc'})" class="tocItem">Community-acquired pneumonia: Initial antibiotic selection for adults admitted to a general medical ward</a></dd>
         <dd><a ui-sref="icg({id:109221, source:'toc'})" class="tocItem">Community-acquired pneumonia: Initial antibiotic selection for adults admitted to the intensive care unit</a></dd>
         <dd><a ui-sref="icg({id:109222, source:'toc'})" class="tocItem">Community-acquired pneumonia: Initial outpatient antibiotic selection in adults</a></dd>
         <dt>Nephrology and Hypertension</dt>
         <dd><a ui-sref="icg({id:108219, source:'toc'})" class="tocItem">Hematuria: Evaluation</a></dd>
         <dd><a ui-sref="icg({id:109113, source:'toc'})" class="tocItem">Hypertension: Initial management</a></dd>
         <dd><a ui-sref="icg({id:109142, source:'toc'})" class="tocItem">Hyponatremia: Evaluation</a></dd>
         <dt>Primary Care (Adult)</dt>
         <dd><a ui-sref="icg({id:108277, source:'toc'})" class="tocItem">Low back pain: Evaluation of an adult with acute, non-traumatic low back pain</a></dd>
         <dd><a ui-sref="icg({id:108534, source:'toc'})" class="tocItem">Lung cancer: Screening</a></dd>
         <dd><a ui-sref="icg({id:109203, source:'toc'})" class="tocItem">Prostate cancer: Screening</a></dd>
         <dt>Pulmonary and Critical Care Medicine</dt>
         <dd><a ui-sref="icg({id:109213, source:'toc'})" class="tocItem">Chronic obstructive pulmonary disease: Identifying patients with an acute exacerbation who warrant hospitalization</a></dd>
         <dd><a ui-sref="icg({id:110251, source:'toc'})" class="tocItem">Pulmonary embolism: Diagnostic evaluation in adult patients who are hemodynamically unstable despite resuscitative efforts</a><br>
      </dl>
   </div>
   <bottom-bar >
  </bottom-bar>

</div>